.modal-shopping-cart {
    position: fixed;
    margin-top: 10px;
    left: calc(50% - 300px);
    background-color: #61dafb;
    overflow: auto;
    border-radius: 5px;
}

.modal-items {
     list-style: none;
     padding: 0;
     flex-wrap: wrap;
     margin: 10px;
}

.modal-items li {
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    background-color: green;
}

.remove-item {
    border: none;
    border-radius: 3px;
    background-color: lightskyblue;
    outline: none;
}

.remove-item:hover{
    cursor: pointer;
    background-color: #61dafb;
}

@media screen and(max-width: 375px){
    .modal-shopping-cart {
        width: 100%;
        left: 0;
    }
}
